<nav class="desktop">
    <div class="desktop-nav-left">
        <a href="#">LINK</a>
        <a href="#">LINK</a>
        <a href="#">LINK</a>
    </div>
    <div class="desktop-nav-right">
        <div class="dropdown">
            <a href="#">Projects</a>
            <div class="dropdown-menu">
                <a href="/todo">Todo list</a>
            </div>
        </div>
    </div>
</nav>
<nav class="mobile dropdown">
    <h3>Menu</h3>
    <div class="mobile-nav-links dropdown-menu">
        <a href="/todo">LINK</a>
        <a href="#">LINK</a>
        <a href="#">LINK</a>
    </div>
</nav>