/* 
    box-sizing default is content-box
        content-box means:
            when we set the width/height of an element
            we are setting the width/height of the content ONLY
        border-box means:
            we are setting the width/height of the content, padding, AND border all at once

    BOX-MODEL
        every element has 4 "layers"
        going from the inside to outside
        content -> padding -> border -> margin
*/

* {
    box-sizing: border-box;
}

.desktop {
    display: none;
}

html {
    font-size: 12px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;

    font-family: 'Helvetica', 'Arial', sans-serif;
}

/* 
    sans- (without)

    monospace: every character has the same width
        .W.W

    
*/

header {
    /* temporary */
    background-color: lightblue;
    /*
        flex-grow: 1 if allowed to grow, 0 if not
        flex-shrink: 1 if allowed to shrink, 0 if not
        flex-basis: width (height if flex-direction: column)

        flex: flex-grow flex-shrink flex-basis;
    */
    flex-grow: 0;
    flex-shrink: 0;
}

#wrapper {
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

button {
    /* cursor: pointer; */
}

main {
    /* temp */
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown:hover > .dropdown-menu {
    display: flex; 
}

nav.mobile {
    position: relative;
}

nav.mobile h3 {
    margin: 0;
    padding: 2em;
}

/*
    CSS Units
    `````````
    %   =   relative to the parent
    rem =   relative to the root font-size   
    em  =   relative to the element font-size
*/


.mobile-nav-links {
    display: none;
    position: absolute;

    background-color: white;
    outline: 1px solid gray;
    
    padding: 2em;

    flex-direction: column;
}

nav.mobile:hover .mobile-nav-links {
    display: flex;
}

nav.desktop {
    display: flex;
    justify-content: space-between;
}

nav.desktop a {
    display: inline-block;
    padding: 2em;
}

nav.desktop a {
    text-decoration: none;
    font-weight: 900;
}

nav.desktop a:hover {
    background-color: rgba(0, 0, 0, .1);
}

section.outer {
    width: 100%;
}

section.inner {
    margin: auto;
    width: 1200px;
    max-width: 87%;
}

.section-1 {
    background: orange;
}

.skills {

}

.skills figure {
    display: inline-block;
}

footer {
    background-color: brown;
    text-align: center;
    padding: 10px;
}


/* Chat icon styles starts */

#chatButtonIdOld {
    transform: translateX(34%) rotate(-90deg);
    position: fixed;
    right: 0px;
    top: 50%;
}
#chatButtonIdOld > button {
    cursor: pointer;
    background-color: rgb(255, 117, 5);
    color: white;
    /* width:200px; */
    /* height:200px; */
    /* margin:0px auto; */
    /* top:200px; */
    padding: 10px;
    /* position: absolute; */
    border: none;
}
#chatButtonId {
    transform: translateX(38%) rotate(-90deg);
    position: fixed;
    right: 0;
    top: 50%;

    /*
        block: takes up the whole width of the parent by default and forces the next element to go on a new line

        inline: only takes up the space its content requires, cannot be resized

        inline-block: can be resized, but does not force a new line
    */

    /* display: block; */
    /* position: fixed; */
    /* bottom: 115px; */
    /* right: -20px; */
    /* height: 80px; */
    max-width: 370px;
    z-index: 650;
    /* border-radius: 32px; */
    /* font-family: Allente Sans, Tahoma, Verdana, sans-serif;
    -webkit-text-size-adjust: 100%; */
    /* 
     */
     /* border-style: solid; */
     border-left: solid;
     border-right: solid;
     border-top: solid;
     border-color: red;
}

.chat-button, .chat-button-desktop {
    cursor: pointer;
}

/*
    CSS Combinators
        +           adjacent sibling
        ~           general sibling
        >           child
        [space]     descendant
*/

/* #chatButtonId > button {
    cursor: pointer;
} */

#chatButtonId .chat-button {
    /* cursor: pointer;
    background-color: rgb(255, 117, 5);
    color: white;
    padding: 10px;
    border: none; */

    display: block;
    padding: 10px;


    height: 100%;
    width: 100%;
    color: salmon;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    border: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    position: relative;
    overflow: visible;
    cursor: pointer;
    /* background-image: url(/Content/Icons/Alli_1_anim_desktop_100x80.png);
    background-repeat: no-repeat; */
    background-size: 80px 64px;
    /* padding: 0 0 0 25px; */
}


/*  Desktop view*/

@media screen and (min-width: 640px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    section.inner {
        max-width: 75%;
    }

    #chatButtonId {
        transform: unset;
        right: 0;
        top: unset;
        bottom: 33px;
        border: 0;
        
    }

    #chatButtonId span {
        display: none;
    }
    
    #chatButtonId .chat-button {
        /* background-image: url("images/chat_desktop100x107.png");
        background-repeat: no-repeat, repeat; */
        /* width: 100px;
        height: 107px; */
        /* border-radius: 32px; */
        max-width: 370px;
        background-color: unset;
        border: unset;
    }

    .chat-button-desktop {
        border: 0;
        background: none;
    }
}

/* Chat icon styles ends */